*{
    padding : 0;
    border : 0;
    margin : 0;
    font-family: Poppins;
}

.bg{
    background-color: #36454F;
    background-image : url(https://preview.redd.it/kurzgesagt-4k-wallpapers-3840x2160-v0-fmtt21qhouhb1.png?width=3840&format=png&auto=webp&s=6b39a657353901095a1b4979ea5a37b2137c5e2d);
    background-size: cover;
}

.display-color,
.select-color{
    display: flex; 
    width : 450px;
    height: 450px;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
}


.container{
    padding : 50px 50px 0px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.button{
    background-color: rgba(0,0,0,0.45);
    border-radius:  50px;;
    padding : 50px 60px 30px 60px;
    text-align : center;
    vertical-align: middle;
}


.alert-message{
    text-align : center;
    font-size : 24px;
    padding : 20px;
    background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.title{
    text-align: center;
    font-size : 48px;
    background: linear-gradient(to right, #f32170, #ff6b08,#cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

input{
    height : 450px;
    width : 450px;
    background-color: transparent;
}

.reset{
    color : white;
    background-color: transparent;
    width : 100%;
    height : 100%;
}

button{
    padding : 10px 20px 10px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: crimson;
    color : white;
    font-size: large;
}