<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Picker!</title>

    <link href = "/static/styles.css" rel = "stylesheet">
    
    <!-- Google Fonts Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body class = "bg">
    <header class = "title">
        ColorPicker
    </header>

    <main>
        <div class="container">
            <div class="display-color" style = "background-color: rgb({{R}}, {{G}}, {{B}});">
                <!-- DISPLAY COLOR -->
            </div>

            <div class="button">
                <form action = "/">
                    <button>Reset</button>
                </form>
            </div>

            <div class="select-color">
                <div style = "text-align: center;">
                    <input id = "guess" type = "color" name = "color">
                    <br>
                    <button id = "submit-button">Guess !</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>